*
{
	font-family : "helvetica neue";
    font-weight : normal;
}

#uv
{
    width  : 800px;
    height : 600px;
}

/* Record CSS */

.fa-title, .fa-module
{
	border     : solid 1px;
    margin     : 15px 50px 30px 50px;
    box-shadow : 5px 5px;
}

.fa-submodule
{
    padding : 5px 30px 30px 30px;
}

.fa-title
{
    padding: 15px 40px 15px 40px;
}

.fa-module-header
{
    margin-block-start : 0;
    margin-block-end   : 0;
    text-transform     : capitalize;
    font-weight        : bold;
    font-size          : 1.15em;
    border-bottom      : solid 1px;
    padding            : 10px 40px;
}

.fa-submodule-header
{
	font-style         : italic;
    margin-block-start : 0;
    margin-block-end   : 0;
    margin             : 15px 0 5px 15px;
}

.fa-ul-lines 
{
	list-style-type      : none;
	padding-inline-start : 0;
	margin-block-start   : 0;
}

.fa-ul-lines  > li 
{
	text-indent  : 5px;
    padding-left : 15px;
}

.fa-ul-lines  > li:before 
{
	content     : "- ";
	text-indent : 5px;
}

.fa-line
{
    margin-block-start : 0.1em;
    margin             : 5px 15px 0 15px;
}

/* Case study CSS */

.fa-visibility-on
{
    display: block;
}

.fa-visibility-off
{
    display: none !important;
}

/* Pagination */

.fa-pagination
{
    margin: auto;
}

.fa-pagination-prev, .fa-pagination-next, .fa-download-button, .fa-prompt-button
{
    width:  8em;
    height: 3em;
    margin: auto;
}

.fa-pagination-prev, .fa-download-button, .fa-prompt-button
{
    margin-bottom: 20px;
}

/* Pages */

.fa-landing-title
{
    margin-bottom: 5em;
    text-align: center;
}

.fa-landing-case-title, .fa-landing-case-number, .fa-landing-status
{
    border-bottom: 1px solid black;
    height: 2em;
}

.fa-landing-status:after
{
    display: block;
    content: "";
    width: 20px;
    height: 20px;
/*    background: transparent url( './unsolved.png' ) no-repeat; */
}

.fa-pagination
{
    height: 50px;
    width: 400px;
}

.fa-case-study
{
    display: table;
    width: 100%;
    height: 80%;
}

.fa-landing-wrapper, .fa-photo-evidence-wrapper, .fa-background-research-wrapper, .fa-prompt-wrapper
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.fa-landing-page, .fa-photo-evidence-page, .fa-background-research-page, .fa-prompt-page
{
    display: inline-block;
    text-align: left;
    width: 40em;
}

.fa-record
{
    width: 100%;
    border-top: 1px solid black;
}

.fa-photo-evidence-title
{
    border-bottom: 1px solid black;
}

.fa-prompt-module
{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.fa-prompt-object, .fa-prompt-processing, .fa-prompt-environment, .fa-prompt-material, .fa-prompt-use
{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 1em;
}

.fa-prompt-title
{
    font-style: italic;
}

.fa-prompt-checkbox-group
{
    margin-bottom: 1em;
}

.fa-prompt-checkbox
{
    display: inline-block;
    margin-right: 1em
}

.fa-paired-radio-group
{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 1em;
}

.fa-prompt-radio-group
{
    border-bottom: 1px solid black;
    padding: 10px;
}
